@import "~normalize.css";
@import "./Assets/Styles/Header.css";
@import "./Assets/Styles/Versus.css";
@import "./Assets/Styles/Input.css";
@import "./Assets/Styles/Compare.css";
@import "./Assets/Styles/StatsZone.css";

:root{
  --foncer : #2D2D2D;
  --clair : #F5F5F5;
  --couleur : #FC913A;
}

@font-face {
  font-family: 'Titre';
  font-style: normal;
  font-weight: 400;
  src: url('./Assets/Font/Fortnite.otf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Vs';
  font-style: normal;
  font-weight: 400;
  src: url('./Assets/Font/VS.ttf'); /* IE9 Compat Modes */
}
.corp{
  top: 250px;
  width: 100%;
  height: 300px;
}

a{
  all: unset;
}
a:hover{
  all: unset;
}
a:focus{
  all: unset;
}
a:visited{
  all: unset;
}
a:link{
  all: unset;
}
a:active{
  all: unset;
}

body{
  background-color: var(--clair);
}