@media (max-width: 30em) and (orientation: portrait) {
    .rotate{
        transform: rotate(-1deg);
        height: 10px;
        margin-top: 68px;
    }
    .header{
        height: 85px;
    }
}

@media (max-height: 30em) and (orientation: landscape) {
    .rotate{
        transform: rotate(-1deg);
        height: 15px;
        margin-top: 65px;
    }
    .header{
        height: 90px;
    }
}

@media (min-height: 30em) and (orientation: landscape) {
    .rotate{
        transform: rotate(-1deg);
        height: 40px;
        margin-top: 185px;
    }
    .titre{
        font-size: 80px;
    }
    .header{
        height: 252px;
    }
}

.rotate{
    background-color: var(--foncer);
    position: fixed;
    width: 110%;
    margin-left: -5px;
    border-bottom-color: #282c34;
}

.sombre{
    box-shadow: none;
    background-color: var(--foncer);
    color: var(--clair);
    position: fixed;
    width: 100%;
    text-align:center;/*texte centré*/
}

.titre{
    font-family: Titre;
    color: var(--foncer);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--clair);
}
